@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.wrapper{
    width: 60%;
    padding: 10% 20%;
}

body{
    background: url("images/bg.png");
    background position: top right;
    postition: relative;
}

.welcome-text{
    text-align: center;
}

.welcome-text h1{
    text-align: center;
    color: #fff;
    font-size: 80px;
}

.welcome-text h2{
    text-align: center;
    color: #fff;
    font-size: 70px;
}

.welcome-text a{
    border: 1px solid #fff
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    dispaly: inline-block;
    color: #fff;
}

.welcome-text p{
    color: #fff;
    font-size: 24px;
}
